.form-control {
  box-shadow: none;
}

label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ced4da;
  font-weight: 500;

  input[type="radio"], input[type="checkbox"] {
    margin-top: 2px;
  }
}

span.or {
  @extend label;

  padding: 0 10px;
}

input.form-control {
  &:active, &:focus {
    border-color: lighten(#198754, 20);
    box-shadow: none;
  }
}

.form-group {
  &.withError {
    label, .formError, .required {
      color: #dc3545;
    }

    input,
    .select2-choice {
      border-color: #dc3545;
    }
    textarea,
    .select2-choice {
      border-color: #dc3545;
    }
  }
}

.fullwidth-input {
  display: block;
  width: 100%;
}

.help-block {
  color: lighten(#dee2e6, 20);
  font-weight: 300;
}

.checkbox > .help-block {
  margin-top: 0;
}

.display-inline {
  display: inline;
}
