.table > tbody > tr > td.quotes_description {
  width: 250px;
}

.tooltip-quotes-info .tooltip{
  top: -15px !important;
  left: 140px !important;
}

.tooltip-quotes-info .tooltip-arrow{
  display: none
}
