<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= Spree.t(:quotes_settings)%></h1>
  </div>

  <div class="panel-body">
    <div class="quotes-settings">
      <%= Spree.t(:number_of_quotes) %>
    </div>
    <div data-hook="general_settings_quotes_count">
      <%= text_field_tag :quotes_count, ::SpreeQuotesManagement::Config[:quotes_count], class: 'form-control' %>
    </div>
  </div>
</div>
